# Logs\nlogs\n*.log\nnpm-debug.log*\nyarn-debug.log*\nyarn-error.log*\n.\pnpm-debug.log*\n.pnpm-error.log*\n\n# Diagnostic reports (https://nodejs.org/api/cli.html#cli_diagnostic_reports)\n.report/\n\n# Runtime data\npids\n*.pid\n*.seed\n*.info\n\n# Node.js\n# attention these files are gitignored only on Production (Because vite use .env in all situations, except when use a explicit path to .env file )\n# You can uncommment these lines by need\n# .env\n# .env.development.local\n# .env.test.local\n# .env.production.local\n# .env.local\n\n# dotenv environment variables file\n.env*\n\n# Build results\ndist\nbuild\n\n# Dependency directories\nnode_modules/\n\n# Testing\n/coverage/\n*.lcov\n\n# Editors\n.vscode\n.idea\n*.suo\n*.ntvs\n*.njsproj\n*.sln\n*.sw?\n\n# OS\n.DS_Store\nthumbs.db