@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f1f21; /* zinc-900 equivalent for track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #52525b; /* zinc-600 equivalent for thumb */
  border-radius: 10px;
  border: 2px solid #18181b; /* Border to match bg-black */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #71717a; /* zinc-500 equivalent on hover */
}
